h2 {
    color:green;
}
a {
    text-decoration: none;
        color: black;
}
form {
    background-color: :yellow;
}
input[type="button"], input[type="reset"], input[type="submit"] {
   
	font-size:1em;
	font-weight:bold;
	text-decoration:none;
    margin:0 auto;
    color:black;
    background-color: limegreen;
    border-radius: 1em;
    line-height: 1em;
    width: 10em;
    height: 5em;
    margin-left: 30em;
    margin-right: 10em;
    
}
input[type="button"].differentbutton {
    font-size:0.5em;
    color:black;
    background-color: white;
    border-radius: 1em;
    width: 10em;
    height: 2em;
    margin-left: 70em;
}
body {
    background-color: beige;
    margin:0 auto
}
div {
   align-content: center;
    margin-left: 45em;
    margin-right: 45em;
        
}
