h2 {
    color:green;
}
a {
    text-decoration: none;
        color: white;
}
form {
    background-color: :yellow;
}
input[type="button"], input[type="reset"], input[type="submit"] {
   
	font-size:1em;
	font-weight:bold;
	text-decoration:none;
    margin:0 auto;
    color:black;
    background-color: limegreen;
    border-radius: .5em;
    line-height: 3em;
    width: 8em;
    height: 5em;
    margin-left: 4em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2em
    
}
input[type="button"].differentbutton {
    font-size:.75em;
    color:white;
    background-color: limegreen;
    border-radius: .5em;
    width: 10em;
    height: 3em;
    margin:0 auto;
    padding: inherit
}
body {
    background-color: Black;
    margin:0 auto;
    width: 30em;
    height: 65em;
    margin:0 auto;    
}
div {
   margin: auto;
    width: 25em;
        height:10em;
    color: White
}
