
h2 {
    color:green;
}
a {
    text-decoration: none;
        color: black;
}
form {
    background-color: :yellow;
}
input[type="button"], input[type="reset"], input[type="submit"] {
   
	font-size:1em;
	font-weight:bold;
	text-decoration:none;
    margin:0 auto;
    color:aqua;
    background-color: black;
    border-radius: 2em;
    line-height: 1em;
    width: 10em;
    height: 2em;
    
}
input[type="button"].differentbutton {
    font-size:5em;
    color:black;
    background-color: white;
    border-radius: 5px;
    width: 10em;
    height: 5em;
    
}
body {
    background-color: beige;
    margin:0 auto
}
div {
    margin: 0 auto
}
